* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.main-admin {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.tables {
  padding: 0;
  margin: 0;
  width: 100%;
} 
