*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
    height: 100vh;
  }

  .imghome {
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  .overlay-home p{
    font-size: 40px;
  }

  .servicios{
    background-color: rgba(128, 128, 128, 0.11);
  }

  .servicios p{
    font-size: 18px;
  }

  .container-carousel img {
    height: 100%;
    filter: grayscale(0.8);
    object-fit: cover;
    object-position: top;
  }
  
  .carousel button{
    z-index: 100;
  }
  
  .overlay-container{
    position: relative;
  }

  .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    padding: 10px;
  }
  
  .profesionales p{
    font-size: 18px;
  }

  .sponsors img{
    filter: grayscale(1);
  }

  .footer_bg{
    background-color: #6a3093;
  }

  .footer-whatsapp {
    text-decoration: underline;
    color: white;
  }

  .cardhome img{
    object-fit: cover;
    height: 100%;
  }



  @media screen and (max-width: 768px) {
    .overlay p {
      font-size: 20px; 
    }
  }

  @media screen and (min-width: 769px) {
    .overlay p {
      font-size: 50px; 
    }
  }