.imgFondoUser{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.imgFondoUser .imgUser {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedorFormUser{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
}


